

        <h3 class="display-3">DASHBOARD OF {{ user.first_name}} </h3>
    <div class="row col-sm-12">
        <a class="btn btn-primary" href="{% url 'product_management:product_add' %}"><i class='fas fa-plus mr-1'></i>Add Product</a>
    </div>
    <div class="row col-sm-12">
    <table class="table col-md-12" id = "products_table">
            <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
    </table>
    </div>



{% block javascript %}
     <script>

     console.log("SONO LO SCRIPT   1");
     $(document).ready(function (){
         console.log("ID producer: "+ {{ request.user.id }});

         $.ajax({

             url : '{% url 'product_management:product_list' %}',
             method : 'POST',
             data: {
                 'producer_id' : {{ request.user.id }},
                 'csrfmiddlewaretoken': '{{ csrf_token }}',
             },
             dataType: 'json',
             success : function (answer){
                 list = JSON.parse(JSON.stringify(answer))[0];
                 //console.log("lista: ", list.products_list[0].name);
                 for(let i=0; i < list.products_list.length; i++){


                     var actions = '<a class="btn btn-primary"\n' +
                         '                     <a href= "/product/management/'+list.products_list[i].id+ '/detail">'+
                         '                         <i class="material-icons">info</i>\n' +
                         '                      </a>\n' +
                         '                      <a class="btn btn-danger">\n' +
                         '                        <i class="material-icons">delete_forever</i>\n' +
                         '                      </a>\n' +
                         '                      <a class="btn btn-success">\n' +
                         '                         <i class="material-icons">brush</i>\n' +
                         '           </a>';
                     var row = '<tr>'+
                            '<td>'+'<img width="100" height="70" class="img-fluid"src="/media/'+list.products_list[i].image+'"/>'+ '</td>'+
                            '<td>'+list.products_list[i].name + '</td>'+
                            '<td>'+list.products_list[i].quantity + '</td>'+
                            '<td>'+list.products_list[i].price + '</td>'+
                            '<td>'+list.products_list[i].discount + '</td>'+
                            '<td>'+actions+ '</td>'+
                            '</tr>';
                     $('#products_table > tbody:first').append(row);
                     console.log(list.products_list[i].name);
                 }
             },
         });
     });
     console.log("Arrivo dopo le ajax :D");
  </script>
{% endblock %}
