{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
             <img src="{{ product.image.url }}"  class="img-fluid" alt="user profile image" height="240">
            </div>
        </div>
        <div class="col">
                <table class="table table-unbordered">
                    <tr>
                        <td colspan="2"><bold> {{ product.name }}</bold> </td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <td>Price: </td>
                        <td>{{ product.price }} &euro;</td>
                    </tr>
                    <tr>
                        <td>Ratings</td>
                        <td id="product_ratings">0/5</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if product.quantity == 0 %}
                                OUT OF SALE
                            {% else %}
                                <button class="btn btn-primary" data-toggle="modal" data-target="#BuyProduct">BUY</button>
                                Available: {{ product.quantity }}
                            {% endif %}
                        </td>
                    </tr>
                </table>

            </p>
        </div>

    </div>
    <div class="row">
        <div class="col">
            {% if request.user.is_authenticated %}
                <button class="btn btn-warning" data-toggle="modal" data-target="#ReviewModal"> ADD REVIEW</button>
            {% else %}
                <button class="btn btn-light"><a href="{% url 'user_management:login' %}">LOG IN TO ADD A REVIEW</a></button>
            {% endif %}

            <table class="table table-unbordered" id="reviewTable">
            <tbody>

            </tbody>
            </table>
        </div>
    </div>
    <div class="container">
    <!--Modal add Review-->
    <div class="modal fade" id="ReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReviewModalLabel">What do you think about this Product?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
               <label>Rating</label>
                  <select class="form-control" id="rating">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1" >Review:</label>
                  <textarea class="form-control" id='review' maxlength="400"></textarea>
              </div>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="reviewConfirm" class="btn btn-primary">Add Review</button>
      </div>
    </div>
  </div>
</div>
    <!-- MOdal Buy Item-->
    <div class="modal fade" id="BuyProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BuyProductModalLabel">Buy {{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="table">
                  <table class="table-bordered">
                      <tr>
                          <td>Product</td>
                          <td>{{ product.name }}</td>
                      </tr>
                      <tr>
                          <td>Quantity </td>
                          <td><input type="number" id="quantityField" max="{{ product.quantity }}" value="1" min="1"></td>
                      </tr>
                      <tr>
                          <td>Price</td>
                          <td>{{ product.quantity }}</td>
                      </tr>
                      <tr>
                          <td>Shipment</td>
                          <td>{{ product.shipment }}</td>
                      </tr>
                      <tr>
                          <td>Total</td>
                          <td id="Total"></td>
                      </tr>
                      <tr>
                          <td colspan="2">Credit card informations</td>
                      </tr>
                      <tr>
                          <td>Name</td>
                          <td> <input type="text" placeholder=""></td>
                      </tr>
                      <tr>
                          <td>Credit Card Number</td>
                          <td><input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
                          </td>
                      </tr>
                      <tr>
                          <td>Expiration (mm/yy)</td>
                          <td> <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric"> </td>
                      </tr>
                      <tr>
                          <td>Security Code</td>
                          <td> <input id="securitycode" type="text" pattern="[0-9]*" inputmode="numeric"></td>
                      </tr>
                  </table>

              </div>

          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="buyConfirm" class="btn btn-primary">Buy</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script>

         $(document).ready(function (){
             //Calculate total
             var total = {{ product.price }} * $('#quantityField').val() + {{ product.shipment }};
             $('#Total').text(+total);
             //Generate Review Table Ajax
             $.ajax({

                 url : '{% url 'product_management:review_list' %}',
                 method : 'POST',
                 data: {
                     'product_id' : {{ product.id }},
                     'csrfmiddlewaretoken': '{{ csrf_token }}',
                 },
                 dataType: 'json',
                 success : function (answer){
                     list = JSON.parse(JSON.stringify(answer))[0];
                     console.log(list);
                     for(let i = 0; i <list.reviews_list.length; i++){
                        var newRow = ' <tr> <td> Rating: '+list.reviews_list[i].rating +'</td><td>User: '+list.authors[i]+' </td>'+
                             '<td>'+list.reviews_list[i].review+'</td>'+
                             '</tr>';
                        console.log(newRow);
                         $('#reviewTable > tbody').append(newRow);
                     }
                     //generateTable(list);
                     },
                 });

             //Generate Average Rating
             $.ajax({
                 url : '{% url 'product_management:average_rating' %}',
                 method : 'POST',
                 data: {
                     'product_id' : {{ product.id }},
                     'csrfmiddlewaretoken': '{{ csrf_token }}',
                 },
                 dataType: 'json',
                 success : function (answer){
                     list= JSON.parse(JSON.stringify(answer));
                     if(list.average_rating === 'undefined' || list.average_rating == null){
                         $('#product_ratings').text('0/5');

                     }else{
                         $('#product_ratings').text(list.average_rating+'/5');
                     }
                     }
                });

         });

        $(document).on('change',"#quantityField", function(event){
             var total = {{ product.price }} * $('#quantityField').val() + {{ product.shipment }};
             $('#Total').text(+total);
        });
        $(document).on('click',"#reviewConfirm", function(event) {
        event.preventDefault();
        $.ajax({
            url :'{% url 'product_management:add_review' %}',

            method: 'POST',
            dataType: 'json',
            data: {
                'product_id' : {{ product.id }},
                'user_id' : {{ user.id }},
                'rating': $('#rating').val(),
                'review': $('#review').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success : function(){
                $('#ReviewModal').modal('toggle');
                location.reload();

            },
            error : function(err){
                $('#ReviewModal').modal('toggle');
                console.log(err);
                alert('Something went wrong');
            }
        });

     });
    </script>
{% endblock %}