{% extends 'base.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h1>Edit Product</h1>
        {% if  product.image.url  is not None %}
                    <img src="{{ product.image.url }}" alt="user profile image" width="240">
        {% endif %}
{#    <form method="post">{% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input class="btn btn-success" type="submit" value="Create">#}
{#    </form>#}
    {% crispy form %}
    </div>

{% endblock %}